
.section-container{
    background-color: #E554731A;
    display: flex;
    padding: 50px 240px 0;
    gap: 100px;
}
.section-discription{
    background: #FFF;
}

.head-container{
    width: 50%;
    padding-top: 200px;
}
.head-container-two{
    width: 50%;
}
.shop-heading{
 color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;
}
.shop-detail{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin: 20px 0;
}
.shop-btn{
padding: 20px 43px;
margin: 10px;
border-radius: 8px;
background: #E55473;
}
header img{
    width: 535px;
    height: 700px;
}
.flower-aria{
   
   margin-top: 100px;
}
.flower-title {
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
margin-bottom: 10px;
 }
.flower-discription{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
width: 500px;
font-weight: 400;
line-height: 30px; 
margin: auto;
}
.flower-item{
    display: flex;
    margin: 48px 240px;
    gap: 24px;
}
.flower-item a{
    text-align: center;
}
.pic-one{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.pic-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 310px;
    height: 428px;
}
.pic-three{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.sells-detail{
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 50px 240px;
    padding:  86px;
   
}
.img-icon{
    width: 88px;
    height: 88px;
   
}
.sells-offer-description{
    display: flex;
   gap: 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 300px;
}
.sells-offer{
text-align: center;
   
}
.offer{
color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
}
.offer-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}
.show-flower{
    width: 100%;
}
.show-flower img{
    width: 318px;
    height: 420px;
     
}
/*header body last*/

.social-heading{
 color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
margin-top: 100px;
}
.social-discription {
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 40px;
}
.instagram{
    text-align: center;
    margin: 0 400px 20px;
}
.show{
    
width: 242px;
height: 296px;

}
.flower-show{
    display: flex;
    gap: 24px;
    margin: 50px 240px;
}
.cotact-area{
   /* background-image: url('/images/Rectangle\ 9.png');*/
}

.for-deal{
    padding: 120px 530px;
}
.deal{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.deal-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.cotact-form{
    display: flex;
    text-align: center;
    padding: 280px 0 140px 280px;
    background-image: url(/images/Rectangle\ 9.png);
    background-repeat: no-repeat;
}
.add-email{
width: 700px;
height: 50px;
margin-top:10px;
padding: 3px;

border-radius: 8px;
background: #FFF;
}
/*footer areia*/
.footer{
    
}
.footer-aera{

height: 450px;
background: #111010;
ali: center;
margin: 0 auto;
}
.foot-head{
color: #E55473;
font-family: Lato;
font-size: 48px;
font-weight: 800;
text-align: center;
padding-top: 120px;

}
.foot-body{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
 
   
}
.footer-footer{
 color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-weight: 400;
}
